{% extends 'movies/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="card-title text-danger mb-4">Potwierdź usunięcie</h4>
                <div class="alert alert-warning">
                    Czy na pewno chcesz usunąć film: <strong>{{ movie.title }}</strong>?
                </div>

                <form method="post" class="d-flex gap-2">
                    {% csrf_token %}
                    <button class="btn btn-danger">Tak, usuń</button>
                    <a href="{% url 'movie_detail' movie.pk %}" class="btn btn-secondary">Anuluj</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}